{
  "check-coverage": true,
  "per-file": true,
  "lines": 86,
  "statements": 86,
  "functions": 83,
  "branches": 75,
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
  ],
  "reporter": [
    "lcov",
    "html",
    "text"
  ],
  "require": [
  ],
  "extension": [
  ],
  "cache": true,
  "all": true,
  "report-dir": "./coverage"
}
